*{
    margin: 0;
    padding: 0;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    float: left;
    font-family:"微软雅黑";
    font-size:18px;
}
body{
    min-width: 1280px;
    min-height: 769px;
    width: calc(100%);
    height:calc(100%);
    background: url("./images/LoginBackground1.jpg") no-repeat center center;
}
.logo{
    width:300px;
    height: 100px;
    background: url("./images/logo2.png") no-repeat center center;
}
.main{
    margin-top: 100px;
    margin-left: calc(100%/2 - 250px);
    width: 500px;
    height:530px;
}
.title{
    width: 500px;
    height:200px;
    background: url("./images/title3.png") no-repeat center center;
    position: relative;
}
.login{
    width: 500px;
    height:320px;
    background: url("./images/white.png") no-repeat center center;
}
.line{
    width:100%;
    height:50px;
    float:left;
    margin-top:60px;
}
.line2{
    width:100%;
    height:50px;
    float:left;
    margin-top:30px;
}

.titleinput{
    width: 380px;
    height: 50px;
    padding-left:5px;
    margin-left: 60px;
    float:left;
    border:1px solid #d9d9d9;
}
.sure{
    width: 380px;
    height: 50px;
    border: 1px solid #335281;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #3762b5;
    color: #fff;
    margin-left: 60px;
    font-size: 28px;
    line-height: 50px;
}
.sure:hover{
    background-color: #4b6c9d;
}
#msg.errors {
    border: 1px dotted #BB0000;
    font-size: 1.4em;
    color: #BB0000;
    padding-left: 100px;
    background: url(./images/error.gif) no-repeat 20px center;
    position: absolute;
    /*top: 196px;
    left: 441px;*/
    top: calc(100%/2 + 22px);
    left: calc(100%/2 - 193px);
    width: 75%;
}
#msg {
    padding: 20px;
    margin-bottom: 10px;
}