*{
    margin-top: 0px;
    margin-left: 0px;
    float: left;
    box-sizing: border-box;
    font-family: "Microsoft YaHei";
}
body{
    width: 350px;
    height: 200px;
}
.title {
    width:100%;
    height: 30px;
    background: #335281;
}

.title_1 {

    font-size: 14px;
    color: #ffffff;
    line-height: 30px;
    margin-left: 20px;
}

#close {
    background: url("../img/close.png") no-repeat 7px 7px;
    width: 30px;
    height: 30px;
    float: right;
    cursor: pointer;
    padding: 7px;

}
#close:hover, #close:active {
    background-color: #d44027;
}
#userName{
    margin-top:15px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    width:100%;
    font-size: 20px;
    color:#323232;
}
#msg{
    font-size: 16px;
    color:#999999;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width:100%;
}

.celling{
    width: 50px;
    height: 50px;
    margin-top:20px;
    margin-left:150px;
    background-image: url("../png/celling.png");
}
.uncelling{
    width: 50px;
    height: 50px;
    margin-top:20px;
    margin-left:150px;
    background-image: url("../png/uncell.png");
}