form.validator{
    position: relative;
}
label.error {
    position: absolute;
    background: transparent url("../images/error2.png") no-repeat;
    width: 12px;
    height: 20px;
   /*  left: -17px;
    top: 8px; */
    margin-top:7px;
    margin-left:5px;
}
