*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* float: left; */
}

.area{
    float: left;
    width: 360px;
    height: 539px;
    /*border: 1px solid #c8c8c8;*/
}

.title{
    background-color: #345281;
    float: left;
    width: 100%;;
    height: 30px;
}

.table{
    float: left;
    line-height: 30px;
    color: white;
    margin-left: 10px;
    font-size: 14px;
}

.close{
    float: right;
    color: white;
    background-image: url("img/close.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.close:hover{
    background-color: red;
}

.middle{
	float:left;
    width: 340px;
    height: 434px;
    border: 1px solid #c8c8c8;
    margin: 10px 0 0 10px;
}

.endbutt{
	float:left;
    margin-top: 20px;
    width: 100%;
    height: 25px;
    padding-left: 60px;
}
.buttsure{
	float:left;
    background-color: #335281;
    color: #ffffff;
    width: 103px;
    height: 100%;
    /* padding-left: 39px; */
    border: 1px solid #335281;
    border-radius: 3px;
    margin-right: 10px;
    text-align:center;
    font-size: 14px;
    cursor: pointer;
    line-height: 24px;
}
.buttsure:hover{
    background-color: #4b6c9d;
/*    color: #2577e5;
    width: 103px;
    height: 100%;
    /!*padding-left: 39px;*!/
    border: 1px solid #2577e5;
    border-radius: 3px;
    margin-right: 10px;
    text-align:center;*/
}

.buttcancel{
    float:left;
    background-color: #ffffff;
    color: #335281;
    width: 103px;
    height: 100%;
    border: 1px solid #335281;
    border-radius: 3px;
    margin-right: 10px;
    text-align:center;
    font-size: 14px;
    cursor: pointer;
    line-height: 24px;
}
.buttcancel:hover{
    background-color: #eaf2ff;
    color: #335281;
}

.arealine{
    width: 100%;
    height: 30px;
    background-color: #deecff;
}

.areaname{
    width: 70px;
    height: 30px;
    background-color: #ffffff;
    line-height: 30px;
    padding-left: 17px;
    color: #245281;
    font-size: 14px;
}
#tree{
	/* border: 1px solid #f00; */
	float: left;
	width: 100%;
 	height: 402px; 
	overflow-y: scroll;
}





















